@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

p {
  text-align: left;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f8ff;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

h2 {
  margin-top: 1em;
  font-size: 1.6em;
  line-height: 1.1;
}

h3 {
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 1.4em;
  line-height: 1.1;
  text-align: left;
}

button {
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: var(--color-indigo-900);
}
button:hover {
  background-color: var(--color-indigo-300);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.progress-bar-input {
  display: inline-flex;
  width: 100%;
  height: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
  border: 1px solid var(--color-indigo-900);
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Styles for the entire track */
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
  background-color: white;
  height: 100%;
  border-radius: 0.25rem;
}

/* Styles for the thumb */
.progress-bar-wrapper input[type="range"]::-webkit-slider-thumb {
  background-color: var(--color-indigo-900);
}
.progress-bar-wrapper input[type="range"]::-moz-range-thumb {
  background-color: var(--color-indigo-900);
  border-radius: 0.2;
  width: 8px;
  height: 18px;
}

/* Styles for the elapsed time portion */
input[type="range"]::-moz-range-progress {
  background-color: var(--color-indigo-500);
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
